body{
background-color: whitesmoke;
background-size: cover;
background-attachment: fixed;
line-height: 1.5;

}



#vid-title{
    font-size: 48px;
    text-transform: uppercase;
}

iframe,
object,
embed{
    border:5px solid rgba(255,255,255,0);
    -webkit-border-radius: 20px !important; 
    -ms-border-radius: 20px !important; 
    -o-border-radius: 20px !important;  
    border-radius: 20px !important;     
}

#vid-content{
    background: none;
    box-shadow: none;
}
div{
    display:block;
    
}
.container {
    border-radius: 25px;
    background: #6D1010;
    max-width: 600px;
    margin: 0 auto;
    padding: .1em;
    padding-bottom: .5em;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px #888888;
}

#index-content{
    background: #6D1010;
}

#container6{
    background:none;
    color:white;
    font-family: HelveticaNeue-Light;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
}

#footer{
    text-align: center;
    text-decoration: none;
    display: inline;
    list-style-type: none;
    
}

#vid-id{
    color:white;
}

h1{
    text-align: center;
    font-family: Jellyka Delicious Cake;
    font-size: 112px;
    margin: 0 auto;
    padding: .5em;
    color:black;
}
#demo{
    text-align: center;
    font-family: HelveticaNeue-Light;
    margin: 0 auto;
    padding: .5em;
    color:black;
}

a{
    
    
}

.col-w200{
    width: 200px
    margin-right: 50px;
    padding: 1.5em;
}
.float-l{
    float:left;
}
.float-r{
    float:right;
}

p{
    clear: both;
    font-family: HelveticaNeue-Light;
    line-height: .5;
    
    
    
}

#priv-cont{
    background: none;
    box-shadow: none;
    
}

#priv{
    line-height: 1;
}

/*navigation*/ 

ul {
    list-style-type: none;
    margin: 0px 150px;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    position: fixed;
    
}

#title{
    color:white;
}

#arch{
    list-style-type: none;
    margin: 0px 150px;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    text-align: left;
} 


li {
    border-radius: 25px;
}

li a {
    display: block;
    padding: 8px;
    color: black;
    font-family: HelveticaNeue-Light;
    text-decoration: none;
    text-transform: uppercase;
    float:left;


}

a:hover {
    font-weight:bold;
}

/*panels*/


.panels {
  margin-top: 1em;
  margin-bottom: 1em;
}
.panel {
  margin-bottom: 1em;
  background: white;
}

.panel-title {
  font-weight: bold;
  background: #870126;
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  margin-bottom: 0.25em;
  border-radius: 0.5em;
}

.panel-title:hover {
  background: #333;
}

.panel-content {
  padding: 1em;
  display: none;
}

    
    


