body{
background-color: black;
background-size: cover;
background-attachment: fixed;
line-height: 1.5;

}

div{
    display:block;
    
}
.container {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.7);
    max-width: 600px;
    margin: 0 auto;
    padding: .1em;
    padding-bottom: .5em;
    margin-bottom: 20px;
    text-align: center;
}

#container6{
    background:none;
    color:white;
    font-family: HelveticaNeue-Light;
    text-decoration: none;
    text-transform: uppercase;
}

#footer{
    text-align: center;
    text-decoration: none;
    display: inline;
    list-style-type: none;
}
h1{
    text-align: center;
    font-family: Jellyka Delicious Cake;
    font-size: 112px;
    margin: 0 auto;
    padding: .5em;
    color:white;
}
#demo{
    text-align: center;
    font-family: HelveticaNeue-Light;
    margin: 0 auto;
    padding: .5em;
    color:white;
}

a{
    float: left;
    
}

.col-w200{
    width: 200px
    margin-right: 50px;
    padding: 1.5em;
}
.float-l{
    float:left;
}
.float-r{
    float:right;
}

p{
    clear: both;
    font-family: HelveticaNeue-Light;
    line-height: .5;
    
    
}

#priv{
    line-height: 1;
}

/*navigation*/ 

ul {
    list-style-type: none;
    margin: 0px 150px;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    position: fixed;
    
}

#arch{
    list-style-type: none;
    margin: 0px 150px;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    text-align: left;
} 


li {
    border-radius: 25px;
}

li a {
    display: block;
    padding: 8px;
    color: white;
    font-family: HelveticaNeue-Light;
    text-decoration: none;
    text-transform: uppercase;


}

a:hover {
    font-weight:bold;
}

/*panels*/


.panels {
  margin-top: 1em;
  margin-bottom: 1em;
}
.panel {
  margin-bottom: 1em;
  background: white;
}

.panel-title {
  font-weight: bold;
  background: #870126;
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  margin-bottom: 0.25em;
  border-radius: 0.5em;
}

.panel-title:hover {
  background: #333;
}

.panel-content {
  padding: 1em;
  display: none;
}

    
    


